<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
      <add key="memcached_use" value="0" />
      <add key="memcached_server" value="127.0.0.1" />
      <add key="memcached_port" value="11211" />
      <add key="mongodb_use" value="1" />
      <add key="mongodb_server" value="192.168.0.31" />
      <add key="mongodb_port" value="37047" />
      <add key="work_folder" value="s:\phantom\"/>
      <add key="log_use" value="0" />
      <add key="log_file" value="tapi2db.log.txt" />
    </appSettings>
</configuration>